stages:
  - build
  # - test
  - deploy


build-job:
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

# test-job:
#   stage: test
#   tags:
#     - do-5-libcor
#   script:

deploy-job:
  stage: deploy  
  tags: 
    - lab
  script:
    # - helm repo add gitlab https://charts.gitlab.io
    # - helm repo update gitlab
    # - helm upgrade --install libcor-runner -f helm-chart/values.yaml gitlab/gitlab-runner
    # - helm list -n do-5-libcor
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker rm -f do-5-libcor-web do-5-libcor-vault
    - docker compose up -d --build

    # put values into vault
    - docker compose exec -T do-5-libcor-vault vault kv put secret/libcor SUPABASE_KEY=$SUPABASE_KEY
    - docker compose exec -T do-5-libcor-vault vault kv put secret/libcor SUPABASE_URL=$SUPABASE_URL
    - docker compose exec -T do-5-libcor-vault vault kv put secret/libcor VAULT_ADDRESS=$VAULT_ADRESS
    - docker compose exec -T do-5-libcor-vault vault kv put secret/libcor VAULT_TOKEN=$VAULT_TOKEN

    # retrieve values from vault using vault CLI
    - export VAULT_TOKEN=$(docker compose exec -T do-5-libcor-vault vault kv get -field=VAULT_TOKEN secret/libcor)
    # retrieve values from vault using API
    - curl -H "X-Vault-Token:$(VAULT_TOKEN)" -X GET http://127.0.0.1:8201/v1/secret/libcor -s
    - echo $VAULT_TOKEN

    # - vault login --token $VAULT_TOKEN $VAULT_ADDRESS
    # - export SUPABASE_URL=$(vault kv get --field=SUPABASE_URL kv/supabase)
    # - export SUPABASE_KEY=$(vault kv get --field=SUPABASE_KEY kv/supabase)
