* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    display: block;
    margin: 0 auto;
    width: 1140px
}

.main {
    min-height: 100vh;
    background-color: #c5bf69;
    padding-top: 100px
}

.main__input {
    width: 100%;
    height: 50px;
    padding: 0 0 0 50px;
    border: 1px solid #6a673c;
    border-radius: 20px;
    box-shadow: 0 0 5px #6a673c;
    font-size: 18px
}

.main__input:focus {
    outline: 0
}

.main__logo img {
    width: 80px;
    display: block;
    margin: 0 auto
}

.main h1 {
    font-weight: 700;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px
}

.main__select {
    position: relative;
    width: 560px;
    display: block;
    margin: 0 auto;
    transition: .5s all
}

.main__select .select {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid gray;
    box-shadow: 0 0 5px #6a673c;
    border-radius: 5px;
    z-index: 4
}

.main__select .select_top62 {
    margin-top: 0;
    top: 62px
}

.main__select .select_active {
    display: block
}

.main__select .select .option {
    transition: .2s all;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px 0 15px
}

.main__select .select .option:hover {
    background-color: #c5bf69
}

.main__select i {
    position: absolute;
    z-index: 3;
    margin: 16px 0 0 17px;
    font-size: 20px
}

.main__select_mg0 {
    margin: 0
}

.main__select_mt10 {
    margin-top: 10px
}

.main__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #c5bf69;
    z-index: 2;
    border-radius: 100%;
    margin: 5px 10px 0 0;
    cursor: pointer;
    transition: .5s all
}

.main__arrow:hover {
    background-color: #6a673c
}

.main__arrow i {
    position: absolute;
    margin: 9px;
    font-size: 23px;
    color: #000
}

.main__arrow_btn {
    border: 1px solid #6a673c
}

.main__arrow_btn i {
    position: relative
}

.main__clear {
    position: absolute;
    top: 0;
    right: 0;
    color: #c5bf69;
    z-index: 4;
    margin: 16px 80px 0 0;
    cursor: pointer
}

.main__clear i {
    margin: 0;
    z-index: 2;
    font-size: 24px;
    transition: .3s all
}

.main__clear i:hover {
    color: #6a673c
}

h2 {
    font-size: 24px;
    font-weight: 700
}

.search {
    min-height: 100vh;
    background-color: #c5bf69;
    padding-top: 60px;
    padding-bottom: 60px
}

.search__items {
    width: 75%;
    padding-right: 20px
}

.search__items_w100 {
    width: 100%
}

.search__filter {
    width: 25%;
    padding-left: 20px;
    border-left: 1px solid #c5bf69
}

.search__wrap {
    display: block;
    padding: 32px;
    min-height: 560px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #6a673c
}

.search__block {
    margin-top: 20px;
    display: flex
}

.search__panel {
    margin-top: 15px;
    margin-left: 5px
}

.search__panel__title {
    font-size: 15px;
    font-weight: 400
}

.search__panel__btn {
    width: 550px;
    height: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    transition: .5s all;
    cursor: pointer;
    border: 1px solid #c5bf69
}

.search__panel__btn:hover {
    background-color: #c5bf69
}

.search__panel__btn i {
    margin-left: 8px
}

.search__panel__btn_active i {
    transform: rotate(180deg)
}

.search__panel__list {
    display: none;
    width: 100%;
    min-height: 50px;
    margin-top: 10px
}

.search__panel__list_active {
    display: block
}

.search__panel__item {
    width: 100%;
    min-height: 50px;
    border: 1px solid #c5bf69;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 1px 5px #c5bf69
}

.search__panel__item:nth-child(1) {
    margin-top: 0
}

.search__panel__item .img {
    width: 30%;
    padding-right: 15px
}

.search__panel__item .img img {
    display: block;
    width: 100%
}

.search__panel__item .author {
    width: 30%;
    padding: 0 15px 0 15px;
    border-left: 1px solid #c5bf69
}

.search__panel__item .years {
    width: 20%;
    padding: 0 15px 0 15px;
    border-left: 1px solid #c5bf69
}

.search__panel__item .pages {
    padding-left: 15px;
    border-left: 1px solid #c5bf69
}

.search__panel__item .heading {
    color: #a1a5b9;
    font-weight: 400;
    font-size: 14px
}

.search__descr {
    margin-top: 10px
}

.search__result h2 {
    font-size: 22px;
    font-weight: 500
}

.search__book {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #6a673c;
    border-radius: 10px;
    display: block;
    width: 100%
}

.search__book__author {
    margin-top: 10px
}

.search__book__block {
    display: flex;
    width: 100%
}

.search__book__img {
    width: 40%
}

.search__book__img img {
    width: 100%
}

.search__book__characteristics {
    width: 60%;
    padding: 20px 0 0 20px
}

.search__book__descr {
    font-size: 20px;
    font-weight: 500
}

.search__book__descr__wrapper {
    width: 100%;
    margin-top: 30px
}

.search__book__descr__wrap {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #c5bf69
}

.search__book__descr__wrap_title {
    width: 50%;
    color: #a1a5b9;
    font-weight: 400;
    font-size: 16px
}

.search__book__descr__wrap_title-value {
    width: 50%
}

.search__book__descryption {
    margin-top: 15px
}

.search__book__descryption_title {
    font-size: 20px;
    font-weight: 500
}

.search__book__descryption_text {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px
}

ul.breadcrumb li a {
    color: #c5bf69;
    text-decoration: none;
    transition: .2s all
}

ul.breadcrumb li a:hover {
    color: #6a673c;
    text-decoration: underline
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: "/ "
}

.search__filter__title {
    font-size: 18px;
    font-weight: 700
}

.search__filter ul.filters {
    margin-top: 20px
}

.search__filter ul.filters h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px
}

.search__filter ul.filters li {
    margin-bottom: 7px
}

.search__filter ul.filters li input {
    margin-right: 7px
}

.search__filter ul.filters li input.date_leftmargin {
    margin-right: 0;
    margin-left: 7px
}

.search__filter__btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color: #c5bf69;
    border: none;
    transition: .3s all;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500
}

.search__filter__btn:hover {
    background-color: #6a673c
}